venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.so
*.dll
*.egg-info/
dist/
build/
db.sqlite3
*.log
local_settings.py
media/
staticfiles/
*.kv.c
.kivy/
.vscode/
.idea/
*.swp
*.swo
Thumbs.db
.DS_Store
structure.txt